In [22]:
# importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# reading dataset

data = pd.read_csv('Add_sales_data_2018.csv')
data.head()

,Date,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4093.065
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,4042.448
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,4213.819
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,4391.665
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,4350.683

In [24]:
# checking info ()

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  205 non-null    object
 1   Add1(in Thousands)    205 non-null    float64
 2   Add2(in Thousands)    205 non-null    float64
 3   Add3(in Thousands)    205 non-null    float64
 4   Add4(in Thousands)    205 non-null    float64
 5   Add5(in Thousands)    205 non-null    float64
 6   Profit(in Thousands)  205 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.3+ KB

In [25]:
# checking for null values

data.isna().sum()

Date                    0
Add1(in Thousands)      0
Add2(in Thousands)      0
Add3(in Thousands)      0
Add4(in Thousands)      0
Add5(in Thousands)      0
Profit(in Thousands)    0
dtype: int64

No null values in given dataset

In [ ]:
# checking for outliers

plt.figure(figsize=(10,8))
sns.boxplot(data=data.drop(['Profit(in Thousands)'], axis=1))
plt.title('Boxplots of Add1 to Add5')
plt.show()

In [ ]:
plt.figure(figsize=(6,2))
sns.boxplot(x=data['Profit(in Thousands)'])
plt.title('Boxplot of Profit')
plt.show()

No outliers in given dataset

In [ ]:
# checking the distribution

fqg = data.select_dtypes(include=['float64'])
fqg.hist(figsize=(20,15))
plt.show()

In [ ]:
#checking statistics of data

data.describe()

In [ ]:
#checking number of unique values in "Profit(in Thousands)" column

data['Profit(in Thousands)'].nunique()

All values in target column are unique

# 1. Correlation Analysis

In [ ]:
corr = data.corr()
plt.subplots(figsize=(10,4))
sns.heatmap(data=corr, vmin=-0.99, vmax=0.99, annot=True, linewidth=0.2, cmap='PuBuGn')
plt.show()

# 2. Regression model to predict profit

In [ ]:
d1 = data.copy()  #copyong dataset to another variable

In [ ]:
# splitting the daset to train and test

y1 = d1['Profit(in Thousands)']
X1 = d1.drop(['Date', 'Profit(in Thousands)'], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X1_train,X1_test,y1_train,y1_test = train_test_split(X1, y1, random_state=42, test_size=0.25)

In [ ]:
# building regression_model

from sklearn import linear_model
lr = linear_model.LinearRegression() 

model1 = lr.fit(X1_train, y1_train)

In [ ]:
# to get the values predictions for values in X1_test

predictions1 = model1.predict(X1_test)

In [ ]:
# to compare predicted andf actual values

pd.DataFrame({'orginal y1_value': y1_test,
              'predicted y1_value': predictions1})

In [ ]:
# determining MSE

from sklearn.metrics import mean_squared_error as mse
print('MSE is: ', mse(y1_test, predictions1))

MSE of Model_1 is very low and hence Model_1 is acceptable

# 3. Predict the profit generated by the company, if they wish to spend the following amount for advertisement

Add1(in Thousands) 290

Add2(in Thousands) 312

Add3(in Thousands) 309

Add4(in Thousands) 298

Add5(in Thousands) 320

In [ ]:
X1_new = pd.DataFrame({'Add1(in Thousands)':[290],
                       'Add2(in Thousands)':[312],
                       'Add3(in Thousands)':[309],
                       'Add4(in Thousands)':[298],
                       'Add5(in Thousands)':[320]})
predictions2_new = model1.predict(X1_new)
X1_new['Profit(in Thousands)']=predictions2_new
X1_new